In [5]:
import pandas as pd

In [56]:
deodorants_df = pd.read_csv("../clean_data/deodorants_without_promo_and_product_info.csv")

In [58]:
deodorants_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591692 entries, 0 to 591691
Data columns (total 26 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   idb                     591692 non-null  int64
 1   id_producto             591692 non-null  int64
 2   fecha_trans             591692 non-null  object
 3   fecha_desde             0 non-null       float64
 4   fecha_hasta             0 non-null       float64
 5   stock_unidades          591692 non-null  int64
 6   venta_unidades          591692 non-null  int64
 7   precio_unitario         591692 non-null  float64
 8   sigue_prod_en_rol       591692 non-null  int64
 9   cd_abast                591692 non-null  int64
 10  mov_month               591692 non-null  int64
 11  mov_year                591692 non-null  int64
 12  mov_weekday             591692 non-null  int64
 13  ventas_estimadas_promo  0 non-null       float64
 14  nro_prom                0 non-null       float64
 15  duracion_promo          0 non-null       float64
 16  id_cadena               591692 non-null  int64
 17  desc_cadena             591692 non-null  object
 18  desc_region             591692 non-null  object
 19  longitud                591692 non-null  float64
 20  latitud                 591692 non-null  float64
 21  local                   591692 non-null  int64
 22  punto_dist              591692 non-null  int64
 23  desc_producto           0 non-null       float64
 24  razon_social            0 non-null       float64
 25  id_region               0 non-null       float64
dtypes: float64(11), int64(12), object(3)
memory usage: 117.4+ MB

In [59]:
deodorants_df.id_producto.nunique()

10

In [60]:
deodorants_df.groupby('id_producto').id_producto.count()

id_producto
164146     53242
284013     47885
292948    116732
359571     68825
370268    101664
450347    111950
462447     51733
485719     20658
497936      1521
511325     17482
Name: id_producto, dtype: int64

In [31]:
deodorants_df_2 = pd.read_csv("../clean_data/deodorants_merged_2.csv")

/var/folders/1b/q0vy8pzj2d5_w7tb8dkfmh2m0000gn/T/ipykernel_23820/1204176116.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  deodorants_df_2 = pd.read_csv("../clean_data/deodorants_merged_2.csv")

In [32]:
deodorants_df = pd.concat([deodorants_df, deodorants_df_2], axis=0)

In [40]:
deodorants_df_with_promo_df = pd.read_csv("../clean_data/deodorants_with_promo.csv")

In [41]:
deodorants_df_with_promo_df.head()

,idb,id_producto,fecha_trans,fecha_desde,fecha_hasta,stock_unidades,venta_unidades,precio_unitario,sigue_prod_en_rol,cd_abast,...,id_cadena,desc_cadena,desc_region,longitud,latitud,local,punto_dist,desc_producto,razon_social,id_region
0,9022,458394,2019-07-14,2019-07-09,2019-07-16,12,0,45.66,1,9217,...,2,disco,buenos aires,-58.408384,-34.590488,1,0,glade toque edicion limitada 1 12mlx12 pop fru...,s. c. johnson y son de arg. s.a.,1.0
1,9630,458394,2019-07-14,2019-07-09,2019-07-16,11,0,45.66,1,9217,...,2,disco,buenos aires,-58.391731,-34.613387,1,0,glade toque edicion limitada 1 12mlx12 pop fru...,s. c. johnson y son de arg. s.a.,1.0
2,9630,470447,2019-07-14,2019-07-09,2019-07-16,5,0,145.10,1,9217,...,2,disco,buenos aires,-58.391731,-34.613387,1,0,glade automatic ref lim ed 2 175gx6 ar natural...,s. c. johnson y son de arg. s.a.,1.0
3,9152,470447,2019-07-14,2019-07-09,2019-07-16,6,0,145.10,1,9217,...,2,disco,buenos aires,-58.571031,-34.641733,1,0,glade automatic ref lim ed 2 175gx6 ar natural...,s. c. johnson y son de arg. s.a.,1.0
4,9042,470447,2019-07-14,2019-07-09,2019-07-16,16,0,145.10,1,9217,...,2,disco,buenos aires,-57.975326,-34.934655,1,0,glade automatic ref lim ed 2 175gx6 ar natural...,s. c. johnson y son de arg. s.a.,1.0

In [51]:
grouped = deodorants_df_with_promo_df.groupby('nro_prom').agg(
    id_count=('id_producto', 'count'),
    venta_unidades_count=('venta_unidades', 'sum'),
    ventas_estimadas_promo_count=('ventas_estimadas_promo', 'sum')
)
grouped

          id_count  venta_unidades_count  ventas_estimadas_promo_count
nro_prom
425196        1393                  1116                         25438
425198        1522                   883                         33575
425200        3184                  2460                        121360
428908        3200                  1866                         60168
428910        4856                  2004                         82360
...            ...                   ...                           ...
537880        4440                  1719                        106020
538897         564                    87                          5124
540438         649                   273                          1584
540948         104                    39                           168
541066         161                    43                           154

[116 rows x 3 columns]

In [53]:
mask = deodorants_df_with_promo_df.desc_producto.isnull()
result = deodorants_df_with_promo_df[mask]
count = result.shape[0]
count

6756

In [55]:
print(len(deodorants_df_with_promo_df)-count)

129522

In [33]:
prod_with_prom_df = deodorants_df[~pd.isna(deodorants_df['nro_prom'])]
prod_with_prom_df

,row_id,idb,id_producto,fecha_trans,fecha_desde,fecha_hasta,stock_unidades,venta_unidades,precio_unitario,sigue_prod_en_rol,...,id_cadena,desc_cadena,desc_region,longitud,latitud,local,punto_dist,desc_producto,razon_social,id_region
30553,30554,9014,242234,2016-07-19,2016-07-19,2016-07-26,19,0,15.06,1,...,2,disco,buenos aires,-58.414435,-34.581691,1,0,poett ambiental suavidad de algodon nuevo d 0....,clorox argentina s.a.,1.0
30554,30555,9014,240911,2016-07-19,2016-07-19,2016-07-26,28,0,15.06,1,...,2,disco,buenos aires,-58.414435,-34.581691,1,0,poett ambiental lavanda nuevo d 0.377 kg,clorox argentina s.a.,1.0
30567,30568,9014,242231,2016-07-19,2016-07-19,2016-07-26,25,0,15.06,1,...,2,disco,buenos aires,-58.414435,-34.581691,1,0,poett ambiental primavera nuevo d 0.377 kg,clorox argentina s.a.,1.0
30585,30586,9014,242232,2016-07-19,2016-07-19,2016-07-26,41,1,15.06,1,...,2,disco,buenos aires,-58.414435,-34.581691,1,0,poett ambiental bebe nuevo d 0.377 kg,clorox argentina s.a.,1.0
30844,30845,9022,240911,2016-07-19,2016-07-19,2016-07-26,0,0,15.06,1,...,2,disco,buenos aires,-58.408384,-34.590488,1,0,poett ambiental lavanda nuevo d 0.377 kg,clorox argentina s.a.,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970665,1970666,9119,458392,2017-04-25,2017-04-18,2017-04-25,41,0,18.52,1,...,4,vea,buenos aires,-58.434477,-34.614950,1,0,glade aerosol limited edition 1 360cc/6 ar pop...,s. c. johnson y son de arg. s.a.,1.0
970667,1970668,9119,468734,2017-04-25,2017-04-18,2017-04-25,6,0,66.92,1,...,4,vea,buenos aires,-58.434477,-34.614950,1,0,glade automatico 3 en 1 aromatizante de ambien...,s. c. johnson y son de arg. s.a.,1.0
970669,1970670,9119,468736,2017-04-25,2017-04-18,2017-04-25,8,1,66.92,1,...,4,vea,buenos aires,-58.434477,-34.614950,1,0,glade automatico 3 en 1 aromatizante de ambien...,s. c. johnson y son de arg. s.a.,1.0
970672,1970673,9119,474300,2017-04-25,2017-04-18,2017-04-25,9,0,66.92,1,...,4,vea,buenos aires,-58.434477,-34.614950,1,0,glade automatic desodorante de ambientes 619 cc,s. c. johnson y son de arg. s.a.,1.0
970674,1970675,9119,468735,2017-04-25,2017-04-18,2017-04-25,7,0,66.92,1,...,4,vea,buenos aires,-58.434477,-34.614950,1,0,glade automatico 3 en 1 aromatizante de ambien...,s. c. johnson y son de arg. s.a.,1.0

In [34]:
mask = deodorants_df.isnull().any(axis=1)
prod_without_prom_df= deodorants_df[mask]
prod_without_prom_df

,row_id,idb,id_producto,fecha_trans,fecha_desde,fecha_hasta,stock_unidades,venta_unidades,precio_unitario,sigue_prod_en_rol,...,id_cadena,desc_cadena,desc_region,longitud,latitud,local,punto_dist,desc_producto,razon_social,id_region
0,1,242,249486,2016-07-15,NaN,NaN,0,0,27.72,1,...,4,vea,buenos aires,-60.954190,-34.583210,1,0,glade toque toque rep lavandax2 9gr/6 lavanda ...,s. c. johnson y son de arg. s.a.,1.0
1,2,242,458394,2016-07-15,NaN,NaN,5,0,16.31,1,...,4,vea,buenos aires,-60.954190,-34.583210,1,0,glade toque edicion limitada 1 12mlx12 pop fru...,s. c. johnson y son de arg. s.a.,1.0
2,3,242,468734,2016-07-15,NaN,NaN,6,0,60.84,1,...,4,vea,buenos aires,-60.954190,-34.583210,1,0,glade automatico 3 en 1 aromatizante de ambien...,s. c. johnson y son de arg. s.a.,1.0
3,4,242,242234,2016-07-15,NaN,NaN,5,0,15.06,1,...,4,vea,buenos aires,-60.954190,-34.583210,1,0,poett ambiental suavidad de algodon nuevo d 0....,clorox argentina s.a.,1.0
4,5,242,450265,2016-07-15,NaN,NaN,8,0,151.59,1,...,4,vea,buenos aires,-60.954190,-34.583210,1,0,glade glade glade glade automatico 3 en 1 ap+ ...,s. c. johnson y son de arg. s.a.,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,1999996,691,273920,2017-04-30,NaN,NaN,11,0,73.36,1,...,4,vea,buenos aires,-57.088845,-29.715194,1,0,refill citrico oil escence air wick citricos ...,reckitt benckiser argentina s.a.,1.0
999996,1999997,691,387945,2017-04-30,NaN,NaN,16,1,50.24,1,...,4,vea,buenos aires,-57.088845,-29.715194,1,0,glade sense y spray glade sense y spray glade ...,s. c. johnson y son de arg. s.a.,1.0
999997,1999998,691,342745,2017-04-30,NaN,NaN,36,1,18.52,1,...,4,vea,buenos aires,-57.088845,-29.715194,1,0,glade desodorante de ambientes jazmin nueva fo...,s. c. johnson y son de arg. s.a.,1.0
999998,1999999,691,342686,2017-04-30,NaN,NaN,12,1,18.52,1,...,4,vea,buenos aires,-57.088845,-29.715194,1,0,glade desodorante de ambientes lavander nueva ...,s. c. johnson y son de arg. s.a.,1.0
999999,2000000,691,238239,2017-04-30,NaN,NaN,16,0,16.77,1,...,4,vea,buenos aires,-57.088845,-29.715194,1,0,poett poett lavanda refill ab nuevo poett lava...,clorox argentina s.a.,1.0

In [61]:
deodorants_without_promo_df = pd.read_csv("../clean_data/deodorants_without_promo_1.csv")

In [63]:
deodorants_without_promo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 22 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   row_id             1000000 non-null  int64
 1   idb                1000000 non-null  int64
 2   id_producto        1000000 non-null  int64
 3   fecha_trans        1000000 non-null  object
 4   stock_unidades     1000000 non-null  int64
 5   venta_unidades     1000000 non-null  int64
 6   precio_unitario    1000000 non-null  float64
 7   sigue_prod_en_rol  1000000 non-null  int64
 8   cd_abast           1000000 non-null  int64
 9   mov_month          1000000 non-null  int64
 10  mov_year           1000000 non-null  int64
 11  mov_weekday        1000000 non-null  int64
 12  id_cadena          1000000 non-null  int64
 13  desc_cadena        1000000 non-null  object
 14  desc_region        1000000 non-null  object
 15  longitud           1000000 non-null  float64
 16  latitud            1000000 non-null  float64
 17  local              1000000 non-null  int64
 18  punto_dist         1000000 non-null  int64
 19  desc_producto      1000000 non-null  object
 20  razon_social       1000000 non-null  object
 21  id_region          1000000 non-null  int64
dtypes: float64(3), int64(14), object(5)
memory usage: 167.8+ MB