## Analisis ventas sin promociones

In [5]:
import pandas as pd

In [20]:
deodorants_df_without_prom = pd.read_csv("../clean_data/deodorants_without_promo.csv")

In [21]:
deodorants_df_without_prom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7628466 entries, 0 to 7628465
Data columns (total 22 columns):
 #   Column             Dtype
---  ------             -----
 0   row_id             int64
 1   idb                int64
 2   id_producto        int64
 3   fecha_trans        object
 4   stock_unidades     int64
 5   venta_unidades     int64
 6   precio_unitario    float64
 7   sigue_prod_en_rol  int64
 8   cd_abast           int64
 9   mov_month          int64
 10  mov_year           int64
 11  mov_weekday        int64
 12  id_cadena          int64
 13  desc_cadena        object
 14  desc_region        object
 15  longitud           float64
 16  latitud            float64
 17  local              int64
 18  punto_dist         int64
 19  desc_producto      object
 20  razon_social       object
 21  id_region          int64
dtypes: float64(3), int64(14), object(5)
memory usage: 1.3+ GB

In [ ]:
# Vamos a dejar un solo dataset.
# Vamos a decir que un producto con promocioes es aquel que hagan match movimientos y promociones.
# 76 productos unicos con promo. de los 82 poductos realmente 76 han tenido alguna vez promo (verificar) si es asi nos quedaremos unicamente con esas referencias.
# Comprobar de los 92 poductos que hay en movimientos cuantos han tenido al menos una promocion.  (eliminamos los registos de los 92-76 = 16 referencias que no se tienen en cuenta.
# Revisar el deodorants_without_promo duplicados en el csv.
# Agregar una nueva columna promo binaria 1 si 2 nunca para identifica los que han tenido o no promocion.
# Sacar una columna para los dias de la semana
# Arreglar el valor de inventario que tenga valores negativos con zero.

In [23]:
deodorants_df_without_prom.drop('row_id', axis=1, inplace=True)

In [24]:
deodorants_df_without_prom.duplicated().sum()

2902249

In [26]:
grouped_data = deodorants_df_without_prom.sort_values(by=['idb', 'id_producto', 'fecha_trans'], ascending=True)

In [27]:
grouped_data.head(1000)

,idb,id_producto,fecha_trans,stock_unidades,venta_unidades,precio_unitario,sigue_prod_en_rol,cd_abast,mov_month,mov_year,...,id_cadena,desc_cadena,desc_region,longitud,latitud,local,punto_dist,desc_producto,razon_social,id_region
529961,242,228217,2016-07-15,24,0,13.63,1,0,7,2016,...,4,vea,buenos aires,-60.95419,-34.58321,1,0,glade toque toque rep limon 12mlx12 limon repu...,s. c. johnson y son de arg. s.a.,1
5110359,242,228217,2016-07-15,24,0,13.63,1,0,7,2016,...,4,vea,buenos aires,-60.95419,-34.58321,1,0,glade toque toque rep limon 12mlx12 limon repu...,s. c. johnson y son de arg. s.a.,1
1369586,242,228217,2016-07-16,24,0,13.63,1,0,7,2016,...,4,vea,buenos aires,-60.95419,-34.58321,1,0,glade toque toque rep limon 12mlx12 limon repu...,s. c. johnson y son de arg. s.a.,1
2896543,242,228217,2016-07-16,24,0,13.63,1,0,7,2016,...,4,vea,buenos aires,-60.95419,-34.58321,1,0,glade toque toque rep limon 12mlx12 limon repu...,s. c. johnson y son de arg. s.a.,1
5948668,242,228217,2016-07-16,24,0,13.63,1,0,7,2016,...,4,vea,buenos aires,-60.95419,-34.58321,1,0,glade toque toque rep limon 12mlx12 limon repu...,s. c. johnson y son de arg. s.a.,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5755916,242,228683,2018-08-31,23,0,40.26,1,9217,8,2018,...,4,vea,buenos aires,-60.95419,-34.58321,1,0,glade toque full limon 12mlx12 ar limon full 1...,s. c. johnson y son de arg. s.a.,1
161155,242,228683,2018-09-02,34,1,40.26,1,9217,9,2018,...,4,vea,buenos aires,-60.95419,-34.58321,1,0,glade toque full limon 12mlx12 ar limon full 1...,s. c. johnson y son de arg. s.a.,1
768727,242,228683,2018-09-04,34,0,40.26,1,9217,9,2018,...,4,vea,buenos aires,-60.95419,-34.58321,1,0,glade toque full limon 12mlx12 ar limon full 1...,s. c. johnson y son de arg. s.a.,1
4831274,242,228683,2018-09-05,33,0,40.26,1,9217,9,2018,...,4,vea,buenos aires,-60.95419,-34.58321,1,0,glade toque full limon 12mlx12 ar limon full 1...,s. c. johnson y son de arg. s.a.,1
155933,242,228683,2018-09-07,33,0,40.26,1,9217,9,2018,...,4,vea,buenos aires,-60.95419,-34.58321,1,0,glade toque full limon 12mlx12 ar limon full 1...,s. c. johnson y son de arg. s.a.,1