In [30]:
import pandas as pd
import  constants
from utils import get_season

In [2]:
deodorants_df_0 = pd.read_csv("../clean_data/deodorants_0.csv", parse_dates=['fecha_trans', 'fecha_desde', 'fecha_hasta'])
deodorants_df_1 = pd.read_csv("../clean_data/deodorants_1.csv", parse_dates=['fecha_trans', 'fecha_desde', 'fecha_hasta'])
deodorants_df_2 = pd.read_csv("../clean_data/deodorants_2.csv", parse_dates=['fecha_trans', 'fecha_desde', 'fecha_hasta'])
deodorants_df_3 = pd.read_csv("../clean_data/deodorants_3.csv", parse_dates=['fecha_trans', 'fecha_desde', 'fecha_hasta'])
deodorants_df_4 = pd.read_csv("../clean_data/deodorants_4.csv", parse_dates=['fecha_trans', 'fecha_desde', 'fecha_hasta'])
deodorants_df_5 = pd.read_csv("../clean_data/deodorants_5.csv", parse_dates=['fecha_trans', 'fecha_desde', 'fecha_hasta'])
deodorants_df_6 = pd.read_csv("../clean_data/deodorants_6.csv", parse_dates=['fecha_trans', 'fecha_desde', 'fecha_hasta'])
deodorants_df_7 = pd.read_csv("../clean_data/deodorants_7.csv", parse_dates=['fecha_trans', 'fecha_desde', 'fecha_hasta'])
deodorants_df_8 = pd.read_csv("../clean_data/deodorants_8.csv", parse_dates=['fecha_trans', 'fecha_desde', 'fecha_hasta'])
deodorants_df_9 = pd.read_csv("../clean_data/deodorants_9.csv", parse_dates=['fecha_trans', 'fecha_desde', 'fecha_hasta'])
deodorants_df_10 = pd.read_csv("../clean_data/deodorants_10.csv", parse_dates=['fecha_trans', 'fecha_desde', 'fecha_hasta'])
deodorants_df_11 = pd.read_csv("../clean_data/deodorants_11.csv", parse_dates=['fecha_trans', 'fecha_desde', 'fecha_hasta'])

In [3]:
deodorants_df = pd.concat([deodorants_df_0, deodorants_df_1,deodorants_df_2, deodorants_df_3,
                           deodorants_df_4, deodorants_df_5, deodorants_df_6,
                           deodorants_df_7, deodorants_df_8, deodorants_df_9,
                           deodorants_df_10, deodorants_df_11], axis=0, ignore_index=True)

In [4]:
deodorants_df.duplicated().sum()

0

In [5]:
deodorants_df.shape

(8356436, 26)

In [6]:
deodorants_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8356436 entries, 0 to 8356435
Data columns (total 26 columns):
 #   Column                  Dtype
---  ------                  -----
 0   idb                     int64
 1   id_producto             int64
 2   fecha_trans             datetime64[ns]
 3   fecha_desde             datetime64[ns]
 4   fecha_hasta             datetime64[ns]
 5   stock_unidades          int64
 6   venta_unidades          int64
 7   precio_unitario         float64
 8   sigue_prod_en_rol       int64
 9   cd_abast                int64
 10  mov_month               int64
 11  mov_year                int64
 12  mov_weekday             int64
 13  ventas_estimadas_promo  float64
 14  nro_prom                float64
 15  duracion_promo          float64
 16  id_cadena               int64
 17  desc_cadena             object
 18  desc_region             object
 19  longitud                float64
 20  latitud                 float64
 21  local                   int64
 22  punto_dist              int64
 23  desc_producto           object
 24  razon_social            object
 25  id_region               float64
dtypes: datetime64[ns](3), float64(7), int64(12), object(4)
memory usage: 1.6+ GB

In [7]:
# create new column with 1 or 0 based on conditions
deodorants_df['tiene_promo'] = ((deodorants_df['nro_prom'].notnull()) & (deodorants_df['fecha_desde'].notnull()) & (deodorants_df['fecha_hasta'].notnull())).astype(int)

In [8]:
counts = deodorants_df.groupby('tiene_promo').size()
print(counts)

tiene_promo
0    8220158
1     136278
dtype: int64

In [9]:
# filter dataframe where nro_promo is not null
filtered_df = deodorants_df[deodorants_df['nro_prom'].notnull()]

# group by producto and idb and count number of rows in each group
grouped_df = filtered_df.groupby(['id_producto', 'idb', 'id_cadena']).size().reset_index(name='count')

# print grouped dataframe
print(grouped_df)

      id_producto   idb  id_cadena  count
0          164146   285          2     16
1          164146  5034          9     10
2          164146  5201          9     40
3          164146  5202          9     50
4          164146  5204          9     50
...           ...   ...        ...    ...
5125       507528  9138          9      8
5126       507528  9234          4     15
5127       507528  9240          4     15
5128       507528  9692          4     15
5129       507528  9698          4     15

[5130 rows x 4 columns]

In [10]:
deodorants_df['dia_semana'] = deodorants_df['fecha_trans'].dt.day_name()

In [11]:
deodorants_df.head()

,idb,id_producto,fecha_trans,fecha_desde,fecha_hasta,stock_unidades,venta_unidades,precio_unitario,sigue_prod_en_rol,cd_abast,...,desc_region,longitud,latitud,local,punto_dist,desc_producto,razon_social,id_region,tiene_promo,dia_semana
0,5205,273921,2019-07-14,NaT,NaT,7,0,157.03,1,9217,...,buenos aires,-58.554622,-34.565295,1,0,freshmatic airwick lavanda repuesto 250.00 mlt,reckitt benckiser argentina s.a.,1.0,0,Sunday
1,9026,273920,2019-07-14,NaT,NaT,18,0,157.03,1,9217,...,buenos aires,-58.392012,-34.608787,1,0,refill citrico oil escence air wick citricos ...,reckitt benckiser argentina s.a.,1.0,0,Sunday
2,5263,468735,2019-07-14,NaT,NaT,11,0,145.10,1,9217,...,buenos aires,-58.465505,-34.609829,1,0,glade automatico 3 en 1 aromatizante de ambien...,s. c. johnson y son de arg. s.a.,1.0,0,Sunday
3,9030,461280,2019-07-14,NaT,NaT,10,0,145.10,1,9217,...,buenos aires,-58.434391,-34.617352,1,0,glade automatico desodorante de ambientes vain...,s. c. johnson y son de arg. s.a.,1.0,0,Sunday
4,9159,470446,2019-07-14,NaT,NaT,2,0,145.10,1,9217,...,buenos aires,-58.723962,-34.672958,1,0,glade automatico ref ed ltda 1 175gx6 pop frut...,s. c. johnson y son de arg. s.a.,1.0,0,Sunday

In [12]:
# Add a column indicating if the day is a weekend day or a weekday
deodorants_df['is_weekend'] = deodorants_df['dia_semana'].apply(lambda x: 1 if x in ['Sunday', 'Saturday'] else 0)

# Print the resulting DataFrame
print(deodorants_df)

          idb  id_producto fecha_trans fecha_desde fecha_hasta  \
0        5205       273921  2019-07-14         NaT         NaT
1        9026       273920  2019-07-14         NaT         NaT
2        5263       468735  2019-07-14         NaT         NaT
3        9030       461280  2019-07-14         NaT         NaT
4        9159       470446  2019-07-14         NaT         NaT
...       ...          ...         ...         ...         ...
8356431  9030       273920  2018-01-10         NaT         NaT
8356432  9240       238237  2018-01-10         NaT         NaT
8356433  9942       385535  2018-01-10         NaT         NaT
8356434  9155       238237  2018-01-10         NaT         NaT
8356435  9036       443547  2018-01-10         NaT         NaT

         stock_unidades  venta_unidades  precio_unitario  sigue_prod_en_rol  \
0                     7               0           157.03                  1
1                    18               0           157.03                  1
2                    11               0           145.10                  1
3                    10               0           145.10                  1
4                     2               0           145.10                  1
...                 ...             ...              ...                ...
8356431              12               0            81.91                  1
8356432              12               0            28.42                  1
8356433              -4               0            28.42                  1
8356434               6               0            28.42                  1
8356435               9               0            33.95                  1

         cd_abast  ...   longitud    latitud  local  punto_dist  \
0            9217  ... -58.554622 -34.565295      1           0
1            9217  ... -58.392012 -34.608787      1           0
2            9217  ... -58.465505 -34.609829      1           0
3            9217  ... -58.434391 -34.617352      1           0
4            9217  ... -58.723962 -34.672958      1           0
...           ...  ...        ...        ...    ...         ...
8356431      9217  ... -58.434391 -34.617352      1           0
8356432      9217  ... -58.425464 -34.621736      1           0
8356433      9217  ... -57.565788 -38.012360      1           0
8356434      9217  ... -58.651543 -34.655963      1           0
8356435      9217  ... -57.949567 -34.907437      1           0

                                             desc_producto  \
0           freshmatic airwick lavanda repuesto 250.00 mlt
1        refill citrico  oil escence air wick citricos ...
2        glade automatico 3 en 1 aromatizante de ambien...
3        glade automatico desodorante de ambientes vain...
4        glade automatico ref ed ltda 1 175gx6 pop frut...
...                                                    ...
8356431  refill citrico  oil escence air wick citricos ...
8356432  poett poett lavanda full ab nuevo poett lavand...
8356433  poett poett primavera full ab nuevo poett prim...
8356434  poett poett lavanda full ab nuevo poett lavand...
8356435     poett poett natural blends hojas verdes 450 gr

                             razon_social  id_region tiene_promo dia_semana  \
0        reckitt benckiser argentina s.a.        1.0           0     Sunday
1        reckitt benckiser argentina s.a.        1.0           0     Sunday
2        s. c. johnson y son de arg. s.a.        1.0           0     Sunday
3        s. c. johnson y son de arg. s.a.        1.0           0     Sunday
4        s. c. johnson y son de arg. s.a.        1.0           0     Sunday
...                                   ...        ...         ...        ...
8356431  reckitt benckiser argentina s.a.        1.0           0  Wednesday
8356432             clorox argentina s.a.        1.0           0  Wednesday
8356433             clorox argentina s.a.        1.0           0  Wednesday
8356434             clorox argentina s.a.        1.0           0  Wednesday
8356435             clorox argentina s.a.        1.0           0  Wednesday

         is_weekend
0                 1
1                 1
2                 1
3                 1
4                 1
...             ...
8356431           0
8356432           0
8356433           0
8356434           0
8356435           0

[8356436 rows x 29 columns]

In [13]:
# check for null or NaN values in each column
null_cols = deodorants_df.isnull().any()

# print columns with null or NaN values
print(null_cols[null_cols == True].index.tolist())

['fecha_desde', 'fecha_hasta', 'ventas_estimadas_promo', 'nro_prom', 'duracion_promo', 'desc_producto', 'razon_social', 'id_region']

In [14]:
deodorants_df.fillna(value={'nro_prom': constants.DEFAULT_FLOAT,
                            'ventas_estimadas_promo': constants.DEFAULT_FLOAT,
                            'id_region' : constants.DEFAULT_FLOAT,
                            'desc_producto': constants.DEFAULT_STRING,
                            'duracion_promo': constants.DEFAULT_FLOAT,
                            'razon_social': constants.DEFAULT_STRING},
                            inplace=True)

In [15]:
# Group the DataFrame by 'id_producto' and 'tiene_promo', and count the number of rows for each group
promo_counts = deodorants_df.groupby(['id_producto', 'tiene_promo']).size().reset_index(name='count')

# Create a Boolean Series indicating if a product has a count for both 'tiene_promo' values
has_both_promos = promo_counts.groupby('id_producto')['tiene_promo'].count() == 2

# Filter the DataFrame to get the products that do not have a count for either 'tiene_promo' value
no_promos = promo_counts[~promo_counts['id_producto'].isin(has_both_promos[has_both_promos].index)]

# Get the unique products IDs that do not have a count for either 'tiene_promo' value
no_promo_products = no_promos['id_producto'].unique()

In [16]:
no_promo_products

array([238237, 249049, 385535, 407845, 443520, 443521, 443547, 450083,
       454813, 469286, 485719, 497936, 507832, 511324, 511325, 511326])

In [18]:
deodorants_without_promo = deodorants_df[deodorants_df['id_producto'].isin(no_promo_products)]
deodorants_without_promo

,idb,id_producto,fecha_trans,fecha_desde,fecha_hasta,stock_unidades,venta_unidades,precio_unitario,sigue_prod_en_rol,cd_abast,...,longitud,latitud,local,punto_dist,desc_producto,razon_social,id_region,tiene_promo,dia_semana,is_weekend
29,5263,443520,2019-07-14,NaT,NaT,9,0,62.06,1,9217,...,-58.465505,-34.609829,1,0,poett poett natural blends frutal 450 gr,clorox argentina s.a.,1.0,0,Sunday,1
30,5205,443547,2019-07-14,NaT,NaT,14,0,62.06,1,9217,...,-58.554622,-34.565295,1,0,poett poett natural blends hojas verdes 450 gr,clorox argentina s.a.,1.0,0,Sunday,1
31,9703,443521,2019-07-14,NaT,NaT,5,0,62.06,1,9217,...,-58.756238,-35.050042,1,0,poett poett natural blends floral 450 gr,clorox argentina s.a.,1.0,0,Sunday,1
32,688,443521,2019-07-14,NaT,NaT,21,0,62.06,1,9217,...,-59.265382,-29.141976,1,0,poett poett natural blends floral 450 gr,clorox argentina s.a.,1.0,0,Sunday,1
33,249,443521,2019-07-14,NaT,NaT,11,0,62.06,1,9217,...,-58.498985,-34.691168,1,0,poett poett natural blends floral 450 gr,clorox argentina s.a.,1.0,0,Sunday,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8356413,9698,443521,2018-01-10,NaT,NaT,5,0,33.95,1,9217,...,-58.696112,-34.989573,1,0,poett poett natural blends floral 450 gr,clorox argentina s.a.,1.0,0,Wednesday,0
8356432,9240,238237,2018-01-10,NaT,NaT,12,0,28.42,1,9217,...,-58.425464,-34.621736,1,0,poett poett lavanda full ab nuevo poett lavand...,clorox argentina s.a.,1.0,0,Wednesday,0
8356433,9942,385535,2018-01-10,NaT,NaT,-4,0,28.42,1,9217,...,-57.565788,-38.012360,1,0,poett poett primavera full ab nuevo poett prim...,clorox argentina s.a.,1.0,0,Wednesday,0
8356434,9155,238237,2018-01-10,NaT,NaT,6,0,28.42,1,9217,...,-58.651543,-34.655963,1,0,poett poett lavanda full ab nuevo poett lavand...,clorox argentina s.a.,1.0,0,Wednesday,0
8356435,9036,443547,2018-01-10,NaT,NaT,9,0,33.95,1,9217,...,-57.949567,-34.907437,1,0,poett poett natural blends hojas verdes 450 gr,clorox argentina s.a.,1.0,0,Wednesday,0

In [19]:
# check for null or NaN values in each column
null_cols = deodorants_df.isnull().any()

# print columns with null or NaN values
print(null_cols[null_cols == True].index.tolist())

['fecha_desde', 'fecha_hasta']

In [20]:
deodorants_df.describe()

,idb,id_producto,stock_unidades,venta_unidades,precio_unitario,sigue_prod_en_rol,cd_abast,mov_month,mov_year,mov_weekday,...,nro_prom,duracion_promo,id_cadena,longitud,latitud,local,punto_dist,id_region,tiene_promo,is_weekend
count,8.356436e+06,8.356436e+06,8.356436e+06,8.356436e+06,8.356436e+06,8.356436e+06,8.356436e+06,8.356436e+06,8.356436e+06,8.356436e+06,...,8.356436e+06,8.356436e+06,8.356436e+06,8.356436e+06,8.356436e+06,8.356436e+06,8.356436e+06,8.356436e+06,8.356436e+06,8.356436e+06
mean,6.989773e+03,3.785508e+05,2.065137e+01,3.136310e-01,6.423475e+01,9.610200e-01,5.434609e+03,6.485025e+00,2.017666e+03,3.002266e+00,...,7.780377e+03,1.485333e-01,4.277160e+00,-5.872835e+01,-3.506354e+01,9.897948e-01,1.020519e-02,9.283848e-01,1.630815e-02,2.866340e-01
std,3.299906e+03,9.158304e+04,1.487243e+02,8.953579e-01,6.580358e+01,1.935474e-01,4.533852e+03,3.453803e+00,9.815391e-01,2.000099e+00,...,6.063741e+04,1.240366e+00,2.618480e+00,1.394684e+00,2.036040e+00,1.005039e-01,1.005039e-01,2.578497e-01,1.266578e-01,4.521891e-01
min,2.420000e+02,1.641460e+05,-5.420000e+02,-4.500000e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,2.016000e+03,0.000000e+00,...,0.000000e+00,0.000000e+00,2.000000e+00,-6.749604e+01,-4.587265e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.208000e+03,2.929450e+05,6.000000e+00,0.000000e+00,2.251000e+01,1.000000e+00,0.000000e+00,3.000000e+00,2.017000e+03,1.000000e+00,...,0.000000e+00,0.000000e+00,2.000000e+00,-5.869611e+01,-3.498957e+01,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
50%,9.026000e+03,4.152680e+05,1.000000e+01,0.000000e+00,3.823000e+01,1.000000e+00,9.217000e+03,6.000000e+00,2.018000e+03,3.000000e+00,...,0.000000e+00,0.000000e+00,4.000000e+00,-5.846482e+01,-3.462789e+01,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
75%,9.159000e+03,4.583930e+05,1.700000e+01,0.000000e+00,7.673000e+01,1.000000e+00,9.217000e+03,1.000000e+01,2.018000e+03,5.000000e+00,...,0.000000e+00,0.000000e+00,4.000000e+00,-5.839790e+01,-3.457732e+01,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00
max,9.977000e+03,5.113260e+05,1.621800e+04,6.120000e+02,4.238100e+02,1.000000e+00,9.217000e+03,1.200000e+01,2.019000e+03,6.000000e+00,...,5.410660e+05,1.800000e+01,9.000000e+00,-5.668353e+01,-2.914198e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [21]:
filtered_df = deodorants_df[~deodorants_df['desc_region'].str.contains('buenos aires')]
filtered_df.size

0

In [22]:
deodorants_df.drop('desc_region', axis=1, inplace=True)

In [31]:
deodorants_df.drop('estacion', axis=1, inplace=True)

In [32]:
 # Map the month to the corresponding season
deodorants_df['estacion'] = deodorants_df['fecha_trans'].apply(get_season)

/Users/eo/src/deodorants-project/data_cleaning/utils.py:146: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  if start_date <= pd.Timestamp(date) <= end_date:

In [35]:
deodorants_df.head()

,idb,id_producto,fecha_trans,fecha_desde,fecha_hasta,stock_unidades,venta_unidades,precio_unitario,sigue_prod_en_rol,cd_abast,...,latitud,local,punto_dist,desc_producto,razon_social,id_region,tiene_promo,dia_semana,is_weekend,estacion
0,5205,273921,2019-07-14,NaT,NaT,7,0,157.03,1,9217,...,-34.565295,1,0,freshmatic airwick lavanda repuesto 250.00 mlt,reckitt benckiser argentina s.a.,1.0,0,Sunday,1,verano
1,9026,273920,2019-07-14,NaT,NaT,18,0,157.03,1,9217,...,-34.608787,1,0,refill citrico oil escence air wick citricos ...,reckitt benckiser argentina s.a.,1.0,0,Sunday,1,verano
2,5263,468735,2019-07-14,NaT,NaT,11,0,145.10,1,9217,...,-34.609829,1,0,glade automatico 3 en 1 aromatizante de ambien...,s. c. johnson y son de arg. s.a.,1.0,0,Sunday,1,verano
3,9030,461280,2019-07-14,NaT,NaT,10,0,145.10,1,9217,...,-34.617352,1,0,glade automatico desodorante de ambientes vain...,s. c. johnson y son de arg. s.a.,1.0,0,Sunday,1,verano
4,9159,470446,2019-07-14,NaT,NaT,2,0,145.10,1,9217,...,-34.672958,1,0,glade automatico ref ed ltda 1 175gx6 pop frut...,s. c. johnson y son de arg. s.a.,1.0,0,Sunday,1,verano

In [34]:
deodorants_df['estacion'] = deodorants_df['estacion'].replace(to_replace='Veranoo', value='verano', regex=True)

In [36]:
deodorants_df['estacion'].apply(lambda x: x.lower())

0            verano
1            verano
2            verano
3            verano
4            verano
             ...
8356431    invierno
8356432    invierno
8356433    invierno
8356434    invierno
8356435    invierno
Name: estacion, Length: 8356436, dtype: object

In [37]:
deodorants_df.to_csv('../clean_data/deodorants_final_merged.csv', index=False)

In [38]:
deodorants_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8356436 entries, 0 to 8356435
Data columns (total 29 columns):
 #   Column                  Dtype
---  ------                  -----
 0   idb                     int64
 1   id_producto             int64
 2   fecha_trans             datetime64[ns]
 3   fecha_desde             datetime64[ns]
 4   fecha_hasta             datetime64[ns]
 5   stock_unidades          int64
 6   venta_unidades          int64
 7   precio_unitario         float64
 8   sigue_prod_en_rol       int64
 9   cd_abast                int64
 10  mov_month               int64
 11  mov_year                int64
 12  mov_weekday             int64
 13  ventas_estimadas_promo  float64
 14  nro_prom                float64
 15  duracion_promo          float64
 16  id_cadena               int64
 17  desc_cadena             object
 18  longitud                float64
 19  latitud                 float64
 20  local                   int64
 21  punto_dist              int64
 22  desc_producto           object
 23  razon_social            object
 24  id_region               float64
 25  tiene_promo             int64
 26  dia_semana              object
 27  is_weekend              int64
 28  estacion                object
dtypes: datetime64[ns](3), float64(7), int64(14), object(5)
memory usage: 1.8+ GB