# Limpieza de Datos Locales 20190712

In [3]:
import pandas as pd

# Importar Datasets

In [4]:
locales_col_names = [
    'id_cadena', 'desc_cadena', 'id_region', 'desc_region', 'idb',
    'desc_local', 'latitud', 'longitud', 'punto_dist'
]

In [5]:
locales_df = pd.read_csv("../data/Locales.txt",
                         encoding="UTF-8",
                         header=None,
                         delimiter='\t',
                         names=locales_col_names)

In [6]:
locales_df.head(40)

,id_cadena,desc_cadena,id_region,desc_region,idb,desc_local,latitud,longitud,punto_dist
0,1,Plaza Vea,1,Buenos Aires,9693,9693 - P Vea Villa Urquiza.,NaN,NaN,N
1,1,Plaza Vea,1,Buenos Aires,9694,9694 - P Vea JB Justo.,NaN,NaN,N
2,1,Plaza Vea,1,Buenos Aires,9695,695 - P Vea Acoyte.,0.000000,0.000000,N
3,1,Plaza Vea,1,Buenos Aires,9699,699 - P Vea Rivadavia.,0.000000,0.000000,N
4,1,Plaza Vea,1,Buenos Aires,9889,889 - Plaza Vea Carpa de liqui,NaN,NaN,N
5,2,Disco,1,Buenos Aires,247,916 - SM 916 Gorostiaga,-34.565259,-58.436583,N
6,2,Disco,1,Buenos Aires,257,61 - Tortuguitas,-34.446043,-58.745098,N
7,2,Disco,1,Buenos Aires,285,953 - Venado Tuerto,NaN,NaN,N
8,2,Disco,1,Buenos Aires,740,740 - Canning,-34.853221,-58.502247,N
9,2,Disco,1,Buenos Aires,961,961 - Av. Santa FÇ,NaN,NaN,N
10,2,Disco,1,Buenos Aires,1190,6190 - BT SAF (Importaciones).,NaN,NaN,S
11,2,Disco,1,Buenos Aires,1914,3914 - Interno SLL BsAs 217.,NaN,NaN,S
12,2,Disco,1,Buenos Aires,9001,1 - San Isidro.,-34.471531,-58.515350,N
13,2,Disco,1,Buenos Aires,9002,2 - Talcahuano.,-34.596256,-58.385701,N
14,2,Disco,1,Buenos Aires,9003,3 - Camacua.,-34.627893,-58.458295,N
15,2,Disco,1,Buenos Aires,9004,4 - Vicente L¢pez.,-34.520825,-58.485332,N
16,2,Disco,1,Buenos Aires,9007,7 - Pte. Per¢n.,0.000000,0.000000,N
17,2,Disco,1,Buenos Aires,9009,9 - Lomas de Zamora.,-34.764091,-58.398621,N
18,2,Disco,1,Buenos Aires,9012,12 - Sucre.,-34.560842,-58.449841,N
19,2,Disco,1,Buenos Aires,9014,14 - Las Heras..,-34.581691,-58.414435,N
20,2,Disco,1,Buenos Aires,9015,15 - Salguero.,-34.580101,-58.408191,N
21,2,Disco,1,Buenos Aires,9016,16 - Paraguay.,-34.586090,-58.422310,N
22,2,Disco,1,Buenos Aires,9017,17 - Virrey del Pino.,-34.566744,-58.453445,N
23,2,Disco,1,Buenos Aires,9018,18 - Quintana.,-34.589375,-58.388536,N
24,2,Disco,1,Buenos Aires,9022,22 - Santa Fe.,-34.590488,-58.408384,N
25,2,Disco,1,Buenos Aires,9023,23 - Alto Palermo.,-34.587061,-58.410916,N
26,2,Disco,1,Buenos Aires,9025,25 - Rodr°guez Pe§a.,-34.593032,-58.391347,N
27,2,Disco,1,Buenos Aires,9026,26 - Av. Callao.,-34.608787,-58.392012,N
28,2,Disco,1,Buenos Aires,9030,30 - Rivadavia.,-34.617352,-58.434391,N
29,2,Disco,1,Buenos Aires,9035,35 - Uriburu.,-34.593885,-58.397898,N
30,2,Disco,1,Buenos Aires,9037,37 - AdroguÇ.,-34.798951,-58.404243,N
31,2,Disco,1,Buenos Aires,9038,38 - Arcos.,-34.561708,-58.452373,N
32,2,Disco,1,Buenos Aires,9039,39 - Pe§a.,-34.585935,-58.405188,N
33,2,Disco,1,Buenos Aires,9042,42 - La Plata I.,-34.934655,-57.975326,N
34,2,Disco,1,Buenos Aires,9045,45 - Gesell Boulevard.,-37.259025,-56.982672,N
35,2,Disco,1,Buenos Aires,9046,46 - Esmeralda.,-34.591519,-58.378118,N
36,2,Disco,1,Buenos Aires,9048,48 - Gasc¢n.,-34.603435,-58.424113,N
37,2,Disco,1,Buenos Aires,9049,49 - Pinamar.,-37.108689,-56.871028,N
38,2,Disco,1,Buenos Aires,9050,50 - Gesell Central.,-37.263550,-56.974521,N
39,2,Disco,1,Buenos Aires,9054,54 - Elcano.,-34.572857,-58.459282,N

In [7]:
locales_df['desc_local'] = locales_df['desc_local'].apply()

TypeError: Series.apply() missing 1 required positional argument: 'func'

In [8]:
locales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175 entries, 0 to 174
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_cadena    175 non-null    int64
 1   desc_cadena  175 non-null    object
 2   id_region    175 non-null    int64
 3   desc_region  175 non-null    object
 4   idb          175 non-null    int64
 5   desc_local   175 non-null    object
 6   latitud      140 non-null    float64
 7   longitud     140 non-null    float64
 8   punto_dist   175 non-null    object
dtypes: float64(2), int64(3), object(4)
memory usage: 12.4+ KB

#### Ajustes al dataframe

- Limpiar la descripcion de la región, eliminando el numero y el simbolo (-) y convertir el nombre a minuscula.
- Convertir a 1 y 0 la columna punto de distribucción con la siguiente regla si el valor es 'S' = 1 que significa que es un punto de distribucción de lo contrario sería 0.
- Convertir a minusculas todos los tipos de datos object o string.

In [9]:
locales_df = locales_df.applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [10]:
locales_df['desc_local'] = locales_df['desc_local'].replace(to_replace=r'^\d+\s*-\s*', value='', regex=True)

In [11]:
locales_df['desc_local'] = locales_df['desc_local'].replace(to_replace=r'Ba¤o', value='Baño', regex=True)

In [12]:
locales_df['desc_local'] = locales_df['desc_local'].replace(to_replace=r'Rinc¢n', value='Rincón', regex=True)

In [13]:
locales_df['desc_local'] = locales_df['desc_local'].replace(to_replace=r'F', value='Fé', regex=True)

In [14]:
locales_df['desc_local'] = locales_df['desc_local'].replace(to_replace=r'Mor¢n', value='Morén', regex=True)

In [15]:
print(locales_df.isna().sum())

id_cadena       0
desc_cadena     0
id_region       0
desc_region     0
idb             0
desc_local      0
latitud        35
longitud       35
punto_dist      0
dtype: int64

In [16]:
locales_df.isnull().sum(axis=0)

id_cadena       0
desc_cadena     0
id_region       0
desc_region     0
idb             0
desc_local      0
latitud        35
longitud       35
punto_dist      0
dtype: int64

In [ ]:
locales_df.head(175)  Pte. Per¢n. Rodr¡guez Pe¤a.

In [17]:
locales_df.describe()

        id_cadena  id_region          idb     latitud    longitud
count  175.000000      175.0   175.000000  140.000000  140.000000
mean     4.502857        1.0  6909.617143  -31.533832  -52.839588
std      2.945627        0.0  3421.539461   10.718891   17.724343
min      1.000000        1.0   242.000000  -45.872649  -67.496036
25%      2.000000        1.0  5213.500000  -34.730633  -58.632039
50%      4.000000        1.0  9019.000000  -34.601654  -58.434434
75%      4.000000        1.0  9158.500000  -34.546212  -58.251974
max     11.000000        1.0  9977.000000    0.000000    0.000000

#### Guardar el dataset limpio

In [19]:
locales_df.to_csv('../clean_data/locales_clean.csv', index=False)